# Pandas

In [1]:
import pandas as pd
from pandas import Series, DataFrame

## Series

In [2]:
s = Series([2,5,1,6])
s

0    2
1    5
2    1
3    6
dtype: int64

In [3]:
s.values

array([2, 5, 1, 6])

In [4]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
s2 = Series([2, 5, 9, 1], index=['a','b','c','d'])
s2

a    2
b    5
c    9
d    1
dtype: int64

In [7]:
s2['b']

5

In [8]:
s2[['b', 'a']]

b    5
a    2
dtype: int64

In [9]:
s2[s2 > 2]

b    5
c    9
dtype: int64

## DataFrame

In [3]:
data = {'City': ["Ibd", "Lhr", "Khi", "Pew", "Quetta"],
       'Province': ["Fedral", "Punjab", "Sindh", "KPK", "Balochistan"]}
print(type(data))
print(data)

<class 'dict'>
{'City': ['Ibd', 'Lhr', 'Khi', 'Pew', 'Quetta'], 'Province': ['Fedral', 'Punjab', 'Sindh', 'KPK', 'Balochistan']}

In [6]:
frame = pd.DataFrame(data)
print(type(frame))
frame

<class 'pandas.core.frame.DataFrame'>

     City     Province
0     Ibd       Fedral
1     Lhr       Punjab
2     Khi        Sindh
3     Pew          KPK
4  Quetta  Balochistan

A column can be retreived as Series by dict-like index or attribute

In [11]:
type(frame['City'])

pandas.core.series.Series

In [14]:
frame.City

0       Ibd
1       Lhr
2       Khi
3       Pew
4    Quetta
Name: City, dtype: object

In [16]:
frame.loc[1]

City           Lhr
Province    Punjab
Name: 1, dtype: object

In [18]:
import numpy as np

In [23]:
np.arange(100, 500, 100)

array([100, 200, 300, 400])

In [24]:
frame['population'] = np.arange(0, 500, 100)

In [25]:
frame

     City     Province  population
0     Ibd       Fedral           0
1     Lhr       Punjab         100
2     Khi        Sindh         200
3     Pew          KPK         300
4  Quetta  Balochistan         400